[submodule "jfrog-cli"]
	path = jfrog-cli
	url = git@github.com:jfrog/jfrog-cli.git
[submodule "jfrog-cli-core"]
	path = jfrog-cli-core
	url = git@github.com:jfrog/jfrog-cli-core.git
[submodule "jfrog-cli-security"]
	path = jfrog-cli-security
	url = git@github.com:jfrog/jfrog-cli-security.git
[submodule "jfrog-cli-artifactory"]
	path = jfrog-cli-artifactory
	url = git@github.com:jfrog/jfrog-cli-artifactory.git
[submodule "jfrog-client-go"]
	path = jfrog-client-go
	url = git@github.com:jfrog/jfrog-client-go.git
[submodule "build-info-go"]
	path = build-info-go
	url = git@github.com:jfrog/build-info-go.git
[submodule "jfrog-cli-platform-services"]
	path = jfrog-cli-platform-services
	url = git@github.com:jfrog/jfrog-cli-platform-services.git
[submodule "archiver"]
	path = archiver
	url = git@github.com:jfrog/archiver.git
[submodule "jfrog-cli-application"]
	path = jfrog-cli-application
	url = git@github.com:jfrog/jfrog-cli-application.git
[submodule "jfrog-cli-evidence"]
	path = jfrog-cli-evidence
	url = git@github.com:jfrog/jfrog-cli-evidence.git
