[submodule "jfrog-cli"]
	path = jfrog-cli
	url = git@github.com:acrois/jfrog-cli.git
[submodule "jfrog-cli-core"]
	path = jfrog-cli-core
	url = git@github.com:acrois/jfrog-cli-core.git
[submodule "jfrog-cli-security"]
	path = jfrog-cli-security
	url = git@github.com:acrois/jfrog-cli-security.git
[submodule "jfrog-cli-artifactory"]
	path = jfrog-cli-artifactory
	url = git@github.com:acrois/jfrog-cli-artifactory.git
[submodule "jfrog-client-go"]
	path = jfrog-client-go
	url = git@github.com:acrois/jfrog-client-go.git
[submodule "build-info-go"]
	path = build-info-go
	url = git@github.com:acrois/build-info-go.git
[submodule "jfrog-cli-platform-services"]
	path = jfrog-cli-platform-services
	url = git@github.com:acrois/jfrog-cli-platform-services.git
[submodule "ps-jfrog/scripts"]
	path = ps-jfrog/scripts
	url = git@github.com:ps-jfrog/scripts-general-util.git
[submodule "ps-jfrog/jfrog-cli-plugin-compare"]
	path = ps-jfrog/jfrog-cli-plugin-compare
	url = git@github.com:ps-jfrog/jfrog-cli-plugin-compare.git
[submodule "ps-jfrog/ps-jfrog-workflows"]
	path = ps-jfrog/ps-jfrog-workflows
	url = git@github.com:ps-jfrog/ps-jfrog-workflows.git
